target/
node_modules/
dist/
.DS_Store
web-admin/node_modules/
web-admin/dist/
**/*.log
docker-data/
data/
.env
.env-prod
deploy/docker/.env
web-admin/.env
logs/
deploy/docker/squid/certs/*
!deploy/docker/squid/certs/.gitkeep
**/__pycache__/
*.pyc
